.header__btn::before {
  top: 0;
  height: 100%;
  width: 100%;
  transform: none;
}

.header__btn:hover::before {
  filter: blur(48px);
  top: 0;
  height: 100%;
  width: 100%;
}

.site-info {
  position: fixed;
  width: 100%;
  top: 64px;
  left: 0;
  z-index: 90;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.site-info.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.site-info__container {
  padding: 15px 60px;
}

.site-info p {
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.5px;
  margin: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  color: currentColor;
}

.site-info__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: transparent;
  margin: 0;
  padding: 0 14px;
  outline: none;
  border: none;
  color: #9BA1AA;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.site-info__close:hover {
  color: #fff;
}

.site-info__close svg {
  fill: currentColor;
}

.footer-adress a.no-underline {
  text-decoration: none;
}

.footer-adress a.no-underline:hover {
  text-decoration: underline;
}

@media screen and (min-width: 1800px) {
  .advantages-item__text {
    font-size: 14px;
  }

  .infrastructure-item span {
    font-size: 16px;
  }

  .features-item__text {
    font-size: 14px;
  }

  .features-head__text {
    font-size: 14px;
  }

  .features-item__title {
    font-size: 16px;
  }

  .advantages-item__title {
    font-size: 22px;
  }

  .quarter-item__status {
    font-size: 14px;
  }

  .quarter-item__final {
    font-size: 14px;
  }

  .finish-type__text {
    font-size: 14px;
  }

  .standarts-item__title {
    font-size: 12px;
  }

  .footer-company__desc {
    font-size: 14px;
  }

  .footer-public-offer {
    font-size: 14px;
  }

  .footer-public-offer p {
    max-width: 733px;
  }

  .footer-links__item {
    font-size: 14px;
  }
}

@media screen and (max-width: 375px) {
  .site-info {
    top: 55px;
  }
}