.catalog {
  padding: 50px 0;

  @include media-md('down') {
    padding: 24px 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px 150px;

    @media(max-width: 1600px) {
      gap: 24px 32px;
    }

    @include media-xxl('down') {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media-lg('down') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-md('down') {
      gap: 16px;
    }

    @media(max-width: 495px) {
      grid-template-columns: 1fr;
    }
  }
}

.catalog-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 32px;
  border: 1px solid $grey-l;

  @include media-md('down') {
    border-radius: 24px;
  }

  &__info {
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;

    @include media-md('down')  {
      padding: 16px;
      gap: 12px;
    }
  }

  &__name {
    font-size: 18px;
    font-weight: 600;
    text-align: center;

    @include media-md('down')  {
      font-size: 16px;
    }
  }

  &__more {
    display: block;
    padding: 14px 24px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: $black;
  }
}