.contacts {
  padding: 200px 0 50px;

  @include media-lg("down") {
    padding: 115px 0 50px;
  }

  @include media-md("down") {
    padding: 70px 0 24px;
  }

  &.s-contacts {
    padding: 100px 0 0 0;

    @include media-lg("down") {
      padding: 115px 0 50px;
    }

    @include media-md("down") {
      padding: 70px 0;
    }
  }

  &__main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;

    @include media-xl("down") {
      gap: 32px;
    }

    @include media-lg("down") {
      flex-direction: column;
      gap: 24px;
    }

    @include media-md("down") {
      padding-top: 20px;
    }
  }

  &__info {
    max-width: 700px;
    width: 100%;
  }

  &__order {
    max-width: 800px;
    width: 100%;
    padding: 40px;
    border-radius: 56px 0 56px 0;
    display: flex;
    align-items: stretch;
    gap: 40px;
    background-color: $primary;

    @include media-xl("down") {
      padding: 24px;
    }

    @include media-lg("down") {
      max-width: 600px;
      padding: 16px;
      border-radius: 40px 0 40px 0;
    }

    @include media-md("down") {
      border-radius: 20px 0 20px 0;
      display: block;
    }

    &-img {
      @include media-lg("down") {
        width: 170px;
        height: 170px;
      }

      @include media-md("down") {
        display: none;
      }
    }

    &-title {
      font-size: 32px;
      font-weight: 700;

      @include media-xl("down") {
        font-size: 24px;
        margin-bottom: 24px;
      }

      @include media-md("down") {
        font-size: 18px;
        margin-bottom: 16px;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
    }

    &-action {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__title {
    max-width: 560px;
    font-size: 40px;
    line-height: 1.3;
    margin-bottom: 32px;
    font-weight: 700;
    text-transform: uppercase;

    @include media-xl("down") {
      font-size: 32px;
      margin-bottom: 32px;
    }

    @include media-md("down") {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 600;
    text-decoration: none;
    color: $black;

    + .contacts__item {
      margin-top: 16px;
    }

    svg {
      display: block;
      width: 32px;
      height: 32px;

      @include media-xl("down") {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__section {
    &-title {
      font-size: 32px;
      line-height: 1.3;
      font-weight: 700;
      margin-bottom: 32px;

      @include media-xl("down") {
        font-size: 24px;
        margin-bottom: 24px;
      }

      @include media-md("down") {
        font-size: 18px;
        margin-bottom: 16px;
      }
    }

    + .contacts__section {
      margin-top: 50px;

      @include media-xl("down") {
        margin-top: 32px;
      }
    }
  }

  &__company {
    margin-top: 50px;

    @include media-xl("down") {
      margin-top: 32px;
    }

    @include media-md("down") {
      padding-bottom: 20px;
    }

    &-wrapper {
      padding: 40px;
      background-color: #f2f3f4;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
      border-radius: 56px 0 56px 0;

      @include media-xl("down") {
        padding: 24px 32px;
      }

      @include media-md("down") {
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
        border-radius: 20px 0 20px 0;
      }
    }

    &-requisites {
      @include media-md("down") {
        font-size: 14px;
      }

      span {
        display: block;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 32px;

        @include media-xl("down") {
          margin-bottom: 24px;
          font-size: 24px;
        }

        @include media-md("down") {
          font-size: 18px;
          margin-bottom: 12px;
        }
      }
    }

    &-logo {
      margin: 0 auto;

      @include media-md("down") {
        margin: 0;
      }
    }
  }
}
