.header {
  padding: 32px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  background-color: #FFF;
  transition: .25s;

  // &--grey {
  //   background-color: #F2F3F4;
  //   transition: .25s;
  // }

  @include media-md('down') {
    padding: 16px 0;
    background-color: $white;
    border-bottom: 1px solid #F2F3F4;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    @include media-xxl('down') {
      max-width: 140px;
    }
  }

  &-nav {
    @include media-xl('down') {
      display: none;
    }

    &__list {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    &__item {
      padding: 14px 32px;

      @media(max-width: 1600px) {
        padding: 6px 6px;
      }

      a {
        text-decoration: none;
        color: $black;
      }
    }
  }

  &-contacts {
    display: flex;
    align-items: center;

    &__link {
      display: block;
      margin-right: 16px;
      width: 52px;
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      border: 1.182px solid $grey-l;
      color: $secondary;
      cursor: pointer;
      transition: $transition;
      
      @media(max-width: 1600px){
        width: 40px;
        height: 40px;
        margin-right: 8px;

        svg {
          width: 24px;
          height: 24px;
        }
      }

      &:hover {
        transition: $transition;
        background-color: $secondary-light;
      }
    }

    &__tel {
      text-align: right;
      font-weight: 600;
      font-size: 14px;
      line-height: 1.5;
      cursor: pointer;
      text-decoration: none;
      color: $black;

      svg {
        display: none;
      }

      @include media-md('down')  {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid $primary;
        background-color: $primary;
        display: flex;
        align-items: center;
        justify-content: center;

        div {
          display: none;
        }

        svg {
          display: block;
          width: 18px;
          height: 18px;
        }
      }

      span {
        font-size: 20px;
        display: block;
      }

      
    }
  }

  &__btn {
    margin-left: 24px;

    @include media-md('down') {
      display: none;
    }
  }
}
