.lozad {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s, visibility 0.6s;

  &[data-loaded="true"] {
    opacity: 1;
    visibility: visible;
  }
}

.lozad[data-loaded="true"] {
  opacity: 1;
  visibility: visible;
}

body {
}

.fancybox-button.fancybox-close-small {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  background-color: $primary;
  border-radius: 24px 0 24px 0;
  top: 30px;
  right: 30px;
  opacity: 1;
  transition: $transition;

  &:hover {
    background-color: $secondary;
  }

  @include media-md("down") {
    width: 36px;
    height: 36px;
    top: 20px;
    right: 20px;
    border-radius: 16px 0 16px 0;

    svg {
      width: 16px;
    }
  }

  svg {
    width: 24px;
    height: 24px;
  }

  svg path {
    fill: $white;
  }
}

.counter {
  padding: 4px;
  border-radius: 600px;
  background: $secondary-light;
  padding: 4px;
  display: flex;
  align-items: center;
  gap: 4px;

  &__plus,
  &__minus {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: $white;
    border-radius: 50%;

    @include media-md("down") {
      width: 35px;
      height: 35px;
    }

    svg {
      display: block;
      width: 16px;
    }
  }

  &__input {
    display: block;
    width: 68px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid $secondary;
    background-color: $white;
    outline: none;
    text-align: center;
    padding: 8px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;

    @include media-md("down") {
      padding: 6px;
      height: 35px;
    }
  }
}
